.bg {  background-attachment: fixed; background-color: #FFFFFF; background-image: url(images/index_40.gif); background-repeat: no-repeat; background-position: right bottom}
.t12_g {  font-family: tahoma; font-size: 12px; color: #5c5c5c}
.bot {  font-family: tahoma; font-size: 14px; font-weight: bold; color: 676767; text-decoration: none}
.a12_g {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: 4f4f4f}
.t11_a1 {  font-family: tahoma; font-size: 11px; color: a1a1a1; text-decoration: none}
